/* .table{
    border: 1px solid black;
} */

/* output */
.totalOutput {
    float: right; 
}

.red{
    color: red;
    float: right;  
  }

/* button  */
.button {
    background-color: #E6E6E6; /* light grey*/
    border-color: #040404; /*black border*/
    border-radius: 4px; /*rounded corners*/
    color: #111111; /*black text*/
    margin: 10px; 
    float: left; 
} 

/* table */
/* .head {
    background-color: #606060; /* darkest grey*/
    /* margin: */

.thead {
    background-color: #CCCCCC; /* dark grey*/
}

.table tr:nth-child(even) td{
    background-color:#ECECEC; /* lightest grey*/
}

.table tr:nth-child(odd) td{
    background-color: #FFFFFF; /* white */
}

.td-bottom-ro {
    background-color:#ECECEC; /* lightest grey*/
}

/* .table-bordered { */

/* 
.table-responsive

.table-danger
 */

 .jumbotron{
     background-color:#606060; 
     height: 100%; 
     width: 100%; 
 }

 .h1 {
     color:#e4e4e4;  
 }

 .div {
     padding-top: 10px; 
     padding-bottom: 10px;
 }
